{name, "eamf"}.
{description, "An Erlang cache where every stored item is its own process."}.
{homepage, "http://www.mrinalwadhwa.com/"}.
{url, {git, "https://github.com/mrinalwadhwa/eamf.git", {branch, "master"}}}.
{authors, ["Mrinal Wadhwa <mrinal.wadhwa@gmail.com>"]}.
{license, "MIT", "LICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
